services:

  # Production Backend Services
  - type: web
    name: cleverbadge-backend-production
    branch: main
    runtime: node
    plan: free
    rootDir: backend
    buildCommand: npm install && npx prisma generate
    startCommand: npx prisma migrate deploy && node index.js
    domains:
      - api.cleverbadge.com
    envVars:
      - key: DATABASE_URL
        fromDatabase:
          name: cleverbadge-db
          property: connectionString

  # Production Frontend Service
  - type: web
    name: cleverbadge-frontend-production
    branch: main
    env: static
    rootDir: frontend
    buildCommand: npm ci && npm run build
    staticPublishPath: ./dist
    domains:
      - cleverbadge.com
      - www.cleverbadge.com
    envVars:
      - key: VITE_API_URL
        value: https://api.cleverbadge.com

# Database Service (shared between Production and Testing environments)
databases:
  - name: cleverbadge-db
    databaseName: cleverbadge
    user: cleverbadge
    plan: starter
