services:
  - type: web
    name: cleverbadge-server
    runtime: node
    rootDir: server
    buildCommand: npm install && npx prisma generate
    startCommand: npx prisma migrate deploy && node index.js
    envVars:
      - key: DATABASE_URL
        fromDatabase:
          name: cleverbadge-db
          property: connectionString

  - type: static
    name: cleverbadge-client
    runtime: static
    rootDir: client
    buildCommand: npm install && npm run build
    publishDir: dist
    envVars:
      - key: VITE_API_URL
        fromService:
          type: web
          name: cleverbadge-server
          property: url

databases:
  - name: cleverbadge-db
    databaseName: cleverbadge
    user: cleverbadge
    plan: free
